body {
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
}


.content-region3 {
    display: flex;
    justify-content: center;
    flex-flow: column nowrap;
    padding-top: .5rem;
    background-color: gray;
    width: 100%;
}

.content-region3-top {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    height: 100%;
    width: 100%;
}

.content-region3-bottom {
    text-align: center;
    height: auto;
    width: 100%;
    padding-bottom: 1rem;
    background-color: gray;
}


footer {
    font-size: .7rem;
    padding-top: 1rem;
    display:flex;
    flex-flow: column nowrap;
    justify-content: center;
    height: 5rem;
    width: 100%;
    background-color:#282828;
}



footer ul {
    margin:0;
    padding:0;
}
    
footer ul>li {
    display: inline-flex;
    // border-right: .01rem solid green;
    padding-right: .5rem;
}

footer li:last-child {
    border-right: none;
}

.socialmedia-container {
    display:flex;
    justify-content: center;
}

.copyright {
    text-align: center;
    margin-top: .5rem;
}
